<header>	<img src="<%= asset_path( 'reame.png' ) %>" width = "350" height="350"  />
</header>
<h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to button_to('Back'), users_path %>
<footer>
    
</footer>