<header> BEHIND THE SCENES 
</header>
<p> Welcome to the Behind The Scenes Application! Our goal is to make it easier to order 
at the Movies. Click Start Order to Order Now! </p>
<ul class="nav">
<li><%= link_to "Start Order", controller: 'orders' %></li>
</ul>
<body>
	<img src=https://img.freepik.com/free-photo/wall-wallpaper-concrete-colored-painted-textured-concept_53876-31799.jpg?size=626&ext=jpg width=1265 height=700>
</body>

<footer>
	

</footer>



	