<header> BEHIND THE SCENES 
</header>
<ul class="nav">

</ul>
<body>


<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="https://i.ytimg.com/vi/vSKlICmmi98/maxresdefault.jpg" alt="Forest" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="https://i.ytimg.com/vi/vSKlICmmi98/maxresdefault.jpg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="https://i.ytimg.com/vi/vSKlICmmi98/maxresdefault.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="https://i.ytimg.com/vi/vSKlICmmi98/maxresdefault.jpg" alt="Forest" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="https://i.ytimg.com/vi/vSKlICmmi98/maxresdefault.jpg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="https://i.ytimg.com/vi/vSKlICmmi98/maxresdefault.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br><br>
<br>
<br>
<br>
<h1>New Order</h1>

<%= render 'form' %>
 
<%= link_to 'Back', orders_path%>

<footer>
  
</footer>