<header> BEHIND THE SCENES 
</header>
<ul class="nav">
<br>

</ul>
<h1> Order Summary</h1>
<p>
<strong> Name: </strong>
<%= @order.name %>
</p>

<strong> Order: </strong>
<%= @order.request %>
</p>
<%= link_to 'Order List', orders_path %>

<footer>
    
</footer>
