// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #aca5a5;
    font-family: Sans-Serif;
}
header {
    font-size:40px;
    color:white;
    font-family: Sans-Serif;
    background-color: #2038ec;
    text-align: center;

   
}
p{
    font-size:12px;
    font-family: Sans-Serif;
    color: yellow; 
    text-align: left;
 
  
    
}

body{
    background-color: lightgray;
}

.nav{
    font-size: 24px;
    background-color: gray ;
    list-style: none;
    padding: 10px;
}


header {

	padding: 30px;
    font-family: Sans-Serif;
    background-color: steelblue;
    text-align: center;

   
}

footer {

	padding: 30px;
    font-family: Sans-Serif;
    background-color: steelblue;
    text-align: center;

   
}

td{
    
    font-size:20px;
    font-family: Sans-Serif;
    color: black; 
    text-align: center;
 
 

}

th{
   font-size:22px;
    font-family: Sans-Serif;
    color: darkblue;
    
    
}

input[type=request]{
    width: 50%;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}

textarea{
    width: 30%;
    height: 30px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize:none;
}

input[type=button], input[type=submit]{
    background-color: #4CAF50;
    float: middle;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
}

img{
    padding: 30px;
    
}

  .button {
  background-color: yellow;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

}
*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}