// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #aca5a5;
    font-family: Sans-Serif;
}
header {
    font-size:40px;
    color:white;
    font-family: Sans-Serif;
    background-color: #2038ec;
    text-align: center;

   
}

p{
    font-size:20px;
    font-family: Sans-Serif;
    color: black; 
    text-align: center;
 
  
    
}
body{
    background-color: lightgray;
}

.nav{
    font-size: 24px;
    background-color: gray ;
    list-style: none;
    padding: 10px;
}


header {

	padding: 30px;
    font-family: Sans-Serif;
    background-color: steelblue;
    text-align: center;

   
}

footer {

	padding: 30px;
    font-family: Sans-Serif;
    background-color: steelblue;
    text-align: center;

   
}

td{
    
    font-size:20px;
    font-family: Sans-Serif;
    color: black; 
    text-align: center;
 
 

}

th{
   font-size:22px;
    font-family: Sans-Serif;
    color: black;   
    
}