// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #aca5a5;
    font-family: Sans-Serif;
}
h1 {
    font-size:32px;
    color:white;
    font-family: Sans-Serif;
    background-color: #2038ec;
    text-align: center;
    padding:30px ;
   
}

p{
    font-size:20px;
    font-family: Sans-Serif;
    color:white;
    text-align: center;
    
}



form {
      font-size:18px;
      text-align: center;
      font-family: Sans-Serif; 
}
	
